main {
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row-reverse;
    gap: 120px;

   
}

body {
    background-color: white;
    align-content: center;
    justify-content: center;
    padding-left: 80px;
}
#top{
     display: flex;
    padding-top: 20px;
    padding-left: 165px;
    gap: 40px;

}

.header {
    display: flex;
    /*padding-left: 165px;*/
    gap: 150px;
    width: 70%;
    align-content: center;
    justify-content: center;
    border-bottom: 2px solid hsl(220, 14%, 75%);
    position: fixed;
}

p {
    color: grey;
}

P1 {
    color: orange;
}

#bold {
    font-weight: bold;
    color: black;
    text-size: 20px;
    font-family: sans-serif;
}

.add_cart {
    display: flex;
    gap: 40px;
}

.image {
    padding-left: 1px;
    padding-top: 120px;
}

.main {
    padding-top: 150px;
}
#avatar{
    display: flex;
    grid-row-gap: 10px;
    width: 120px;
    height: 45px;
    gap: 12px;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 5px;
}
#pink{
    color: hsl(26, 100%, 55%);
}
#fifty{
    color: orange;
    text-size: 5px;
    background-color:hsl(25, 100%, 94%);
}
#notprice{
     text-decoration: line-through; 
}


button{
    padding-top: 10px;
    width: 200px;
    height: 50px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    align-content: center;
    justify-content: center;
    font-size: 15px;
    display: flex;
    flex-direction: row-reverse;

}
#cart{
    width: 55px;
    height:50px;
    color: hsl(0, 0%, 100%);

    
}
#icon-minus{
   
}
#icon-plus{
    

}
.no-items{
    gap: 40px;
    display: flex;
    background-color:hsl(223, 64%, 98%);
    align-content: center;
    border-radius: 5px;
    padding-top: 10px;
}
.tuimage{
    display: flex;
    gap: 20px;
    border-radius: 8px;
    width: 100px;
}
#corner{
    border-radius:8px;
}
#h1{
  height: 10px;
  align-content: center;
  padding-top: 10px;
}